{{#if isLoggedIn}}
<h2></h2>
{{/if}}


{{#unless isLoggedIn}}
 <br />
 <a class='btn' href='/signup'>Sign Up</a>
{{/unless}}

{{!-- for homepage to show all existing posts --}}
<h3 class="h3" id="discover-h3"><img src="https://gifdb.com/images/high/naruto-kakashi-might-guy-dance-02horfd0qevcikdg.webp" alt="kakashi and guy dancing" style="height: 8vh;"> Discover what everyone is listening to:</h3>
<div class="public-posts container my-4">
  <div class="row my-5 post-list">
  {{#if posts.length}}   
    {{#each posts as |post|}}
    <div class="col-md-4 col-sm-12">
      <div class="p-card p-2 bg-light bg-opacity-25 px-3 my-2 mx-1" id="homepage-post">
        <h4 class="mt-2 text-center" style="font-family: 'Lora', serif; font-size: 30px; color: #bc9cf7;">{{post.title}}</h4>
        <p class="text-end fw-light created-line">Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
        <p class="d-block mb-5 text-wrap text-break" style="font-family: 'Lora', serif; color: #bc9cf7;">{{post.content}}</p>
        <p><a href="{{post.song_url}}" class="link-dark"><i class="fa fa-play-circle fa-xl" aria-hidden="true"></i></a></p>
        <p style="color: rgb(39, 39, 39)">🎹 {{post.artist}} | <i class="fa fa-music" aria-hidden="true"></i> {{post.album}}</p>
      </div>
    </div>
    {{/each}}
    {{else}}
      <h5>There are currently no posts ◕︵◕</h5>
    </div>
    {{/if}}
</div>

