{{#if isLoggedIn}}
<h2>Welcome back, {{user.username}}!</h2>
{{/if}}

<button class='btn btn-make-post'>Share a song</button>

<form action="/search" method="GET">
 <input type="text" name="query" placeholder="Search posts...">
 <button type="submit">Search</button>
</form>


<p>Search Results for "{{query}}"</p>
<ul>
 {{#each results}}
 <li>{{comment}}</li>
 {{/each}}
</ul>


{{#unless isLoggedIn}}
 <br />
 <a class='btn' href='/signup'>Sign Up</a>
{{/unless}}

{{!-- need to list out ALL the posts in database --}}
{{!-- THIS SECTION STILL NEEDS CLEAN UP AND EDITS --}}
{{!-- Section class is just temporary --}}
<section class="public-posts">
  {{#if posts.length}}  
  <h3 class="h3">Discover</h3>
  <div class="col-md-6 post-list">
    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
        <p>{{post.content}}</p>
        <p>Song Preview: {{post.song_url}}</p>
        <p>Artist: {{post.artist}}</p>
        <p>Album: {{post.album}}</p>
      </div>
    </div>
    <div>
      <p><a href="/post/{{post.id}}/comment">{{comments.content}}</a></p>
    </div>
    {{/each}}
    {{else}}
      <h5>There are currently no posts ◕︵◕</h5>
    </div>
    {{/if}}
</section>
